.loginContainer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 100vh;           /* Asegura que ocupe toda la pantalla */
  background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Fondo suave */
  padding: 1rem;           /* Espacio en pantallas pequeñas */
  box-sizing: border-box;   /* Asegura que el padding se calcule correctamente */
}

.loginBox {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 100%;
  
  max-width: 400px;
  text-align: center;       /* Centra el texto y los elementos dentro */
  display: flex;
  flex-direction: column;   /* Organiza los elementos en columna */
  align-items: center;      /* Centra los elementos horizontalmente */
}

.logoContainer {
  margin-bottom: 2rem;
height: 4rem;
}

.logo {
  width: 200px;
  height: auto;
  margin: 0 auto;

}

.inputGroup {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
}

.inputField {
  width: 80%;  /* Se ajusta al ancho del contenedor */
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  font-size: 1rem;
  transition: border 0.3s ease;
  max-width: 100%;  /* Evitar que exceda el contenedor */
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;   /* Se asegura que ocupe todo el espacio disponible */
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.submitButton {
  width: 100%;  /* Se ajusta al ancho del contenedor */
  padding: 0.8rem;
  background-color: #1e327d;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #777;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .loginBox {
    padding: 1.5rem;
  }

  .inputField {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  .submitButton {
    font-size: 1rem;
  }
}
