.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f5fa; /* Color de fondo similar */
  font-family: Arial, sans-serif;
}

.h {
  text-align: center;
}

.logoContainer {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 10rem; /* Ajusta según el tamaño del logo */
}

h1 {
  font-size: 1.8rem;
  margin: 10px 0 5px;
  color: #333;
}

p {
  margin: 0;
  font-size: 1rem;
  color: #666;
}

.loginBox {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: #333;
  text-align: center;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.inputField {
  width: 90%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #007bff;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.options a {
  font-size: 0.85rem;
  color: #007bff;
  text-decoration: none;
}

.submitButton {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.footer {
  font-size: 0.8rem;
  color: #999;
  margin-top: 20px;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
  .loginBox {
    padding: 1.5rem; /* Reduce padding en pantallas más pequeñas */
  }

  h1 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
  }

  h2 {
    font-size: 1rem; /* Reduce el tamaño del subtítulo */
  }

  .inputField {
    padding: 0.5rem; /* Reduce el padding del input */
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
  }

  .submitButton {
    font-size: 0.9rem; /* Reduce el tamaño del botón */
  }

  .footer {
    font-size: 0.7rem; /* Reduce el tamaño del footer */
  }
}

@media (max-width: 480px) {
  .loginBox {
    width: 90%; /* Hacer la caja de login más ancha en pantallas pequeñas */
  }

  h1 {
    font-size: 1.3rem; /* Reduce aún más el tamaño del título */
  }

  .inputField {
    padding: 0.4rem; /* Ajusta el padding en pantallas muy pequeñas */
  }
}
