.searchContainer {
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos al centro */

  border-radius: 5px;
  padding: 5px; /* Añade un poco de padding para que no estén pegados */
}
/* 
.searchInput {
  flex-grow: 1; 
  border: none;
  outline: none;
  padding: 5px;  
}
 */

.searchButton {
  background-color: transparent; /* Sin fondo */
  border: none; /* Sin borde */
  cursor: pointer; /* Puntero al pasar sobre el botón */
  font-size: 16px; /* Tamaño del icono */
  margin-left: 10px;
  align-items: center; /* Espacio a la izquierda del botón */
}

