/* Layout.module.css */
.container {
  display: flex;
  min-height: 100vh; /* Llena la pantalla verticalmente */
}

.menu {
  width: 250px; /* Ancho fijo para el menú */
  background-color: #f4f4f400;
  flex-shrink: 0; /* Evita que el menú se reduzca */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0); /* Sombra para el menú */
}

.mainContent {
  flex-grow: 1; /* Ocupa el espacio restante */
  display: flex;
  flex-direction: column; /* Para organizar el contenido en columnas */
  padding: 0;
}

.filtro {
  display: flex; /* Permite utilizar flexbox para centrar */
  justify-content: center; /* Centra el contenido horizontalmente */
  width: 100%; /* Hace que el filtro ocupe el ancho completo */
  /* Espaciado vertical para separar del contenido */
}

.contenido{
height: 50rem;


}
main {
  flex-grow: 1; /* Permite que el contenido principal ocupe el espacio disponible */
  padding: 20px; /* Espaciado para el contenido */
  background-color: #ffffff00; /* Fondo blanco para el contenido */
}

/* Agregar estilos adicionales para hacer que el nav se mantenga en la parte superior */
.nav {
  /* border-bottom: 1px solid #ddd; */
   /* Línea divisoria entre el nav y el contenido */
  z-index: 10; /* Asegura que el nav esté por encima del contenido */
}

.contenido {
  flex: 1; /* Permite que el contenido ocupe el espacio restante */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  padding: 16px; /* Añade algo de espacio */
  background-color: rgba(0, 0, 0, 0.035);
}
/* Responsividad */
@media (max-width: 768px) {
  .menu {
      display: none; /* Ocultar el menú por completo en pantallas pequeñas */
  }

  .mainContent {
      padding: 0px;
  }
}
