.container {
  flex-direction: column;
  align-items: center;
  margin-left: 250px;
  text-align: start;
  color: #333;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}




.loading {
  text-align: center;
  color: #0e1012;
  font-size: 18px;
  margin-top: 20px;
}


.error {
  text-align: center;
  color: #ff4d4d;
  font-size: 18px;
  margin-top: 20px;
}

.noData {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin-top: 20px;
}


.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Permite que las cards se ajusten al espacio disponible */
  justify-content: center; /* Centra las cards en el contenedor */
  margin-top: 0px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  width: 170px; /* Ancho fijo para las cards */
  margin: 10px; /* Espaciado entre cards */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra el texto dentro de la card */
  transition: transform 0.2s; /* Efecto de hover */
}

.card:hover {
  transform: scale(1.05); /* Efecto de aumento al pasar el ratón */
}

.cardIcon {
  margin-bottom: 10px; /* Espacio entre el icono y el título */
}
.subtitle {
  text-align: start;
  font-size: 20px;
  color: #555;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardTitle {
  font-size: 18px;
  color: #333;
  margin: 5px; /* Espaciado inferior */
}

.cardCode {
  font-size: 14px;
  color: #666;
}
