.container {
  display: flex;
  flex-wrap: nowrap; /* Asegura que el menú y el contenido estén uno al lado del otro */
  min-height: 100vh; /* Asegura que el contenido llene la pantalla verticalmente */
}

.menu {
  width: 250px;
  background-color: #f4f4f4;
  flex-shrink: 0; /* Evita que el menú se reduzca de tamaño */
  transition: transform 0.3s ease;
}

.mainContent {
  flex-grow: 1;
  padding: 0px;
  overflow: hidden;
}





.formContainer {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 8px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    width: 48%; /* Ajusta para 2 columnas */
    margin-bottom: 1REM;
  }
  
  .formGroup label {
    margin-bottom: 5px;
    color: #333;
  }
  
  .formGroup input,
  .formGroup select,
  .formGroup textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  .submitButton {
    background-color: #8c8c8c;
    color: #f8f8f8;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #3e3a30;
  }
  