.landingContainer {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  padding: 4px 10px; /* Ajusta el padding según sea necesario */
  background-color: white;
  color: black;
  height: 70px; /* Asegura que el header tenga una altura definida */
}
.navLink {
  color: black;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;

}
.h1 {
  color: #333;
}

.navLink:hover {
  color: #ff6347;
  transform: scale(1.1); /* Añade un pequeño aumento al hacer hover */
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background-image: url('https://images.pexels.com/photos/4033148/pexels-photo-4033148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  color: white;
  height: 20rem;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.7); Color negro con 50% de opacidad */
  z-index: -1;
}
.logo{
 border-radius: 100%;
}


.hero {
  position: relative;
  height: 20rem;
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  align-items: flex-end; /* Alinea el contenido en la parte inferior */
  padding: 20px; /* Añade padding para separar los elementos del borde */
  text-align: left; 
  color: white;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), 
                    url('https://images.pexels.com/photos/4033148/pexels-photo-4033148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'),
                    linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1, .hero p {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima de la capa oscura */
  text-align: left; 
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  align-items: flex-end;
  margin-left: 20px; /* Añade margen izquierdo para separar del borde */
}
.heroPa {
  color: #f1eded;
  margin-bottom: 4rem;
  font-size: xx-large;
  text-align: left; 
  margin-left: 20px; 
}

.cara {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una fila */
  justify-content: space-around; /* Espacia los elementos uniformemente */
  padding: 20px;
  background-color:white;
}

.feature {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el texto */
  margin: 10px; /* Espacio entre características */
  max-width: 300px; /* Limita el ancho de cada característica */
}

.feature img {
  width: 30%; /* Ancho de la imagen dentro de cada característica */
  margin-right: 10px; /* Espacio entre la imagen y el texto */

}

.feature .text {
  flex: 1; /* Ocupa el espacio restante */
  font-size: 1rem; /* Tamaño de fuente del texto */
  color: black;
}

.ctaButton {
  background-color: #ff6347;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}





.cta {
  padding: 50px 20px;
  text-align: center;
  background-color: white;
  color: black;
}


.footer {
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

.footerLink {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}