.landingContainer {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 70px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;

  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
  padding: 10px 20px; /* Ajusta el padding según sea necesario */
  background-color: #333;
  color: white;
  height: 70px; /* Asegura que el header tenga una altura definida */
}
.navLink {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;

}
.h1 {
  color: #333;
}

.navLink:hover {
  color: #ff6347;
  transform: scale(1.1); /* Añade un pequeño aumento al hacer hover */
}

/* Hero Section */
.hero {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  background-image: url('https://images.pexels.com/photos/4033148/pexels-photo-4033148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  color: white;
  height: 20rem;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de opacidad */
  z-index: -1;
}

.hero h1, .hero p {
  position: relative;
  z-index: 2; /* Asegura que el texto esté por encima de la capa oscura */
}
.logo{
 border-radius: 100%;
}
.heroPa {
  color: #f1eded;
  margin-bottom: 4rem;
  font-size: xx-large;

}

@media (max-width: 1200px) {
  .hero {
    padding: 80px 15px; /* Ajuste del padding para pantallas más pequeñas */
    height: 18rem; /* Ajuste de la altura para pantallas más pequeñas */
  }
}
.ctaButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Features Section */
.features {
  padding: 50px 20px;
  text-align: center;
  background-color: #f4f4f4;
}

.featureItem {
  margin: 20px 0;
}

/* Testimonials Section */
.testimonials {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}
.content {
  flex: 1; /* Ocupa todo el espacio disponible */
}
.testimonialItem {
  margin: 20px 0;
}

/* Call to Action */
.cta {
  padding: 50px 20px;
  text-align: center;
  background-color: #333;
  color: white;
}

/* Footer */
.footer {
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

.footerLink {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}