/* CondicionFiscalComponent.module.css */
.container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 24px; /* Asegúrate de que sea consistente */
  color: #333;
}

.table {
  width: 92%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Otros estilos como .menu y .mainContent */

  .menu {
    width: 250px;
    background-color: #f4f4f4;
    flex-shrink: 0; /* Evita que el menú se reduzca de tamaño */
    transition: transform 0.3s ease;
  }
  
  .mainContent {
    flex-grow: 1;
    padding: 0px;
    overflow: hidden;
  }

  

  
  .list {
    list-style-type: none;
    padding: 0;
  }
  
  .item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }
  
  .item strong {
    font-size: 18px;
    color: #444;
  }
  
  .item span {
    display: block;
    color: #777;
    margin-top: 5px;
  }
  
  .contain {
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo del .mainContent */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente si es necesario */
    align-items: center; /* Centra horizontalmente */
  }

  
  .table th, .table td {
    padding: 15px;
    text-align: left;
    border: none; /* Elimina todos los bordes */
    border-bottom: 2px solid black; /* Añade solo una línea negra debajo de cada celda */
  }
  
  .table th {
    background-color: #f4f4f4;
    font-weight: bold;
    border-bottom: 2px solid black; /* Añade también la línea negra debajo de los encabezados */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tbody tr:hover {
    background-color: #f1f1f1;
  }