.footer {
    padding: 30px; /* Aumenta el padding para darle más espacio */
    background-color: #f8f8f8; /* Color de fondo ligeramente más claro */
    color: #000000; /* Color de texto más claro */
    text-align: center;
  }
  
  .footerContent {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
  }
  
  .footerLink {
    color: #070505; /* Color de los enlaces */
    margin: 0 15px; /* Espacio entre los enlaces */
    text-decoration: none;
    font-size: 1.2rem; /* Tamaño de fuente más grande */
  }
  
  .footerLink:hover {
    color: #f0a500; /* Color al pasar el ratón sobre el enlace */
  }
  
  .socials {
    margin-top: 10px;
  }
  
  .socials a {
    font-size: 1.5rem; /* Tamaño de los iconos */
    margin: 0 10px; /* Espacio entre los iconos */
    color: #020202;
  }
  
  .socials a:hover {
    color: #f0a500; /* Color al pasar el ratón sobre el icono */
  }