.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
  width: 63%;

  margin-left: 250px;
}

.SelectContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(216, 216, 216, 0); */
  padding: 0px;
  gap: 0px;
  border-radius: 0.3rem;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #2e4264;
  transition: border-color 0.3s ease;
  width: auto;
}

select:focus {
  border-color: #474a53cc;
}

.inputContainer {
  display: flex;
  justify-content: center; /* Centra el input horizontalmente */
  width: 100%; /* Asegura que el contenedor ocupe el 100% */
}

.inputA {
  width: 100%; /* Haz que el input ocupe todo el ancho del contenedor */
  max-width: 500px; /* Define un tamaño máximo si es necesario */
  height: 2rem;
  padding: 1px 20px;
  font-size: 14px;
  border: 0.5px solid #ccc;
  border-radius: 100px;
  transition: border-color 0.3s ease;
  margin-left: 5px;
}

.inputA:focus {
  border-color: #224ab9;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.buttonsContainer button {
  padding: 13px ;
  border-radius: 7px;
  border: none;
  background-color: #020204;
  color: #ffffff;
  font-size:13px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonsContainer button:hover {
  background-color: #e6e6e6;
  color: #000;
}

.buttonBuscar {
 margin-left: 1rem;
  padding: 10px ;
  border-radius: 70px;
  border: none;
  background-color: #000101;
  color: #ffffff;
    font-size:13px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonBuscar:hover {
  background-color: rgba(1, 1, 1, 0.808);
  color: white;
}
