.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 70%;
  margin-top: 0.2rem;
  margin-left: 260px;
}

.SelectContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(216, 216, 216, 0.557);
  padding: 20px;
  gap: 10px; /* Aumentar un poco el espaciado entre elementos */
  border-radius: 0.3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilo para los select */
select {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #2e4264;
  width: auto;
  transition: border-color 0.3s ease; /* Transición suave al enfocar */
}

select:focus {
  border-color: #224ab9; /* Color de borde al enfocar */
}

/* Estilo para el input */
.inputA {
  width: 200px;
  height: 2rem; /* Ajustar la altura */
  padding: 4px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 5px;
  transition: border-color 0.3s ease; /* Transición suave al enfocar */
}

.inputA:focus {
  border-color: #224ab9; /* Color de borde al enfocar */
}

/* Contenedor de los botones */
.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.buttonsContainer button {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  background-color: #224ab9;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.buttonsContainer button:hover {
  background-color: #e6e6e6;
  color: #000;
}

/* Botón "Buscar" con un color especial */
.buttonBuscar {
  background-color: rgb(226, 185, 103);
}

.buttonBuscar:hover {
  background-color: rgb(1, 1, 1);
  color: white;
}
