.container {
  flex-direction: column;
  align-items: center;
  margin-left: 220px;
  text-align: start;
  color: #333;
  margin-bottom: 20px;
  
}


table td:first-child {
  text-align: left;
}
table th:first-child {
  text-align: left;
}


.header {
  align-items: center;
  justify-content: space-between;
  width: 92%; /* Alinea con el ancho de la tabla */
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 20px; 
}

