.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  padding: 5px 10px;
  border-bottom: 0px solid #ddd; /* Solo el borde inferior */
  position: relative;
  margin-left: 260px;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}


.breadcrumbs {
  font-size: 15px;
  color: #1c1b1bdc;
  width: 200px; /* Ajusta este valor al ancho que desees */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.breadcrumbs span {
  cursor: pointer; /* Cambia el cursor a puntero */
}

.breadcrumbs span:hover {
  text-decoration: underline; /* Opción adicional para indicar que es interactivo */
}
.actions {
  margin-left: 10rem;
  display: flex;
  align-items: start;
  
}

.actionButton {
  background-color: #aaaaab;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius:0%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.actionButton:hover {
  background-color: #0056b3;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchbar {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.searchButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.userOptions {
  display: flex;
 font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  background-color: #030307b3;
  color: #e6dbdb;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color y fondo */
}

.userOptions:hover {
  background-color: #e0e0e0; /* Color de fondo al hacer hover */
  color: #333; /* Cambia el color del texto en hover */
}

.userOptions span,
.userOptions .icon {
  transition: color 0.3s ease; /* Transición solo en color */
}

.userOptions:hover span,
.userOptions:hover .icon {
  color: #333; /* Cambia el color de texto y del icono en hover */
}

.userOptions i {
  font-size: 0.9rem;
}

.dropdown {
  position: absolute; /* Permite que el menú se posicione de manera independiente */
  top: 100%; /* Lo coloca justo debajo del contenedor padre */
  right:  0; /* Alineado a la izquierda */
  background-color: white; /* Fondo del menú */
  border: 1px solid #ccc; /* Bordes del menú */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Sombra para el menú */
  z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
  margin-top: 5px; /* Espacio entre el usuario y el menú */
}

.dropdownItem {
  display: block; /* Hace que cada item ocupe toda la línea */
  padding: 10px 15px; /* Espaciado interno */
  width: 100%; /* Para que el botón ocupe todo el ancho */
  text-align: left; /* Alineación del texto */
  border: none; /* Sin bordes */
  background: none; /* Sin fondo */
  cursor: pointer; /* Cambia el cursor a puntero */
}

.dropdownItem:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}