.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 5px 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 1000;
  min-width: 100%;
  box-sizing: border-box;
}

.breadcrumbs {
  font-size: 14px;
  color: #666;
  min-width: 250px; /* Mantén un ancho mínimo */
  font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta texto si se desborda */
  text-overflow: ellipsis; /* Añade ... si el texto es demasiado largo */
}

.searchContainer {
  display: flex;
  align-items: center;
  flex-shrink: 0; /* Evita que se reduzca el tamaño */
}

.searchbar {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* Ancho fijo */
}

.userOptions {
  display: flex;
  align-items: center;
  background-color: #cc4646;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0; /* Evita que se reduzca el tamaño */
}
