.sidebar {
    position: fixed; /* Mantiene el menú fijo en la pantalla */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    width: 250px;
    height: 100vh; /* Asegura que el menú ocupe toda la altura */
    background-color: #fffffffd;
    transition: transform 0.3s ease; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegura que el menú esté por encima de otros elementos */
}

.menuContainer {
    margin-top: 0rem;
    height: 80%;
    overflow-y: auto; 
    padding: 0rem;
    list-style-type: none;
    text-align: left;
}

.menuContainer li {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    padding:  0.6rem; 
    color: #000000; /* Color del texto base */
    transition: background-color 0.3s ease; /* Transición suave para el hover */
    cursor: pointer; /* Cambia el puntero al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados para los ítems */
    font-size: 1rem;
    list-style-type: none;
    text-align: left; /* Asegura que el texto esté alineado a la izquierda */
}

.menuContainer li:hover {
  color: rgb(37, 37, 37);
}

.logo {
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
}

.menuError{
    padding: 2rem;
    
}

.logo img {
    width: 10rem; /* Tamaño de la imagen */
}

/* Estilo general del scrollbar */
.menuContainer::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Estilo de la barra de desplazamiento */
.menuContainer::-webkit-scrollbar-thumb {
    background-color: rgba(104, 104, 104, 0.046); /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #364c757f; /* Añade un borde para darle espacio */
}

/* Estilo al pasar el mouse sobre el scrollbar */
.menuContainer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(135, 135, 135, 0.487); /* Cambia el color al pasar el mouse */
}



.menuContainer::-webkit-scrollbar-track {
    background-color: #f5f5f585; /* Color del fondo de la pista */
    border-radius: 10px;
}

/* Para Firefox */
.menuContainer {
    scrollbar-width: thin; /* Reduce el ancho del scrollbar */
    scrollbar-color: rgba(94, 94, 94, 0.8) #f5f5f5aa; /* Color del thumb y del track */
}

.submenu {
    height: 0; /* Cambiamos a height */
    overflow: hidden;
    transition: height 0.3s ease; /* Controla la velocidad de apertura y cierre */
    padding-left: 1.5rem;
    list-style-type: none;
}
.submenu {
    padding-left: 0rem; /* Ajusta el padding izquierdo para los submenús */
}

.submenuOpen {
    max-height: 500px; /* Altura máxima suficiente para contener todos los subitems */
    transition: max-height 0.3s ease-in; /* Controla la velocidad de cierre */
}
.submenu.open {
    max-height: 200px; /* Ajusta según el número de subitems que esperas; también puedes usar `auto` */
}

.menuGroupIcon {
    margin-right: 0.75rem; /* Ajusta para alinear el ícono más a la izquierda */
}

.submenu li {
   
    padding: 0.6rem 0.4rem 0.4rem 1rem; /* Mantiene un padding diferente para los subitems */
    color: #000000; /* Color más claro para los subitems */
    font-size: 0.93rem; /* Reduce el tamaño de la fuente para los subitems */
}

.submenu li:hover {
    background-color: #00000031;
    color: rgb(32, 32, 31); /* Color hover para los subitems */
}

/* Estilos para el ícono y el texto en el grupo del menú */
.menuGroup {
    display: flex;
    align-items: center;
}

.menuGroupIcon {
    margin-right: 0.5rem; /* Espacio entre el ícono y el texto */
}

.menuGroupChevron {
    margin-left: auto; /* Alinea la flechita al extremo derecho */
}
