html, body {
  height: 100%;
  margin: 0;
}

.landingContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la ventana */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
}

.content {
  flex: 1; /* Ocupa el espacio restante */
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

.navLink {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navLink:hover {
  color: #ff6347;
  transform: scale(1.1); /* Añade un pequeño aumento al hacer hover */
}

.hero {
  text-align: center;
  padding: 100px 20px; /* Padding inicial para pantallas grandes */
  background-image: url('https://images.pexels.com/photos/257937/pexels-photo-257937.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  background-position: center;
  color: white;
  height: 22rem; /* Altura fija inicial */
}

@media (max-width: 1200px) {
  .hero {
    padding: 80px 15px; /* Ajuste del padding para pantallas más pequeñas */
    height: 18rem; /* Ajuste de la altura para pantallas más pequeñas */
  }
}

.ctaButton {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cta {
  padding: 50px 20px;
  text-align: center;
  background-color: #333;
  color: white;
}

.footer {
  padding: 20px;
  background-color: #222;
  color: white;
  text-align: center;
}

.footerLink {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';