.header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.videoBackgroundContainer {
  position: relative;
  width: 100%;      /* Ocupa todo el ancho del contenedor */
  height: 43vh;     /* Un tercio de la altura del viewport */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Hace que el video cubra el área del contenedor sin deformarse */
  transform: translate(-50%, -50%);
  z-index: -1; /* Se asegura de que el video esté detrás del contenido de navegación */
}

.videoBackgroundContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.445); /* Ajusta el valor para hacer el video más oscuro */
  z-index: 1; /* Asegura que la capa esté encima del video */
}.infoSection {
  display: flex; /* Utiliza Flexbox para alinear los elementos en línea */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 20px; /* Espacio entre los elementos */
  font-family: 'Roboto', sans-serif;
  padding: 20px; /* Añade un poco de espacio alrededor de la sección */
}

.ctaButton {
  background-color: #ff6347;
  color: rgb(252, 252, 252);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}





.cta {
  padding: 50px 20px;
  text-align: center;
  background-color: rgb(250, 245, 245);
  color: rgb(2, 2, 2);
}

.imageContainer {
  flex-shrink: 0; /* Evita que la imagen se reduzca */
}

.imageContainer img {
  max-width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto;
}

.linksContainer {
  display: flex;
  gap: 20px; /* Espacio entre los enlaces */
}

.navLink {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  padding: 5px 10px; /* Añade padding para mayor área clicable */
}

.navLink:hover {
  color: #ff5722; /* Color de enlace al pasar el ratón */
}

/* Responsivo */
@media (max-width: 768px) {
  .infoSection {
    flex-direction: column; /* Cambia la dirección de flexión a columna en pantallas pequeñas */
    text-align: center; /* Centra el texto en pantallas pequeñas */
  }

  .imageContainer {
    margin-bottom: 20px; /* Añade espacio debajo de la imagen */
  }

  .linksContainer {
    flex-direction: column; /* Coloca los enlaces en columna en pantallas pequeñas */
  }

  .navLink {
    padding: 10px 0; /* Añade espacio vertical entre los enlaces en pantallas pequeñas */
  }
}

.feature {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4%;
  width: 30%;
  padding: 20px;
  color: rgb(0, 0, 0);
  margin: 10px;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Añade una transición suave */
}

.feature:hover {
  transform: scale(1.05); /* Escala el elemento un poco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Añade una sombra */
  background-color: #b84d36; /* Cambia el color de fondo */
}

.feature img {
  width: 20%;
  margin-right: 50px; /* Añade espacio entre la imagen y el texto */
; /* Opcional: hace que la imagen sea circular */
}

.text {
  flex: 1; /* Permite que el texto ocupe el espacio restante */
}

/* Asigna imágenes de fondo específicas a cada característica */
.feature1 {
  background-image: url('https://images.pexels.com/photos/3825500/pexels-photo-3825500.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.feature2 {
  background-image: url('https://images.pexels.com/photos/9574535/pexels-photo-9574535.jpeg?auto=compress&cs=tinysrgb&w=400');
}

.feature3 {
  background-image: url('https://images.pexels.com/photos/7172774/pexels-photo-7172774.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}

.cara {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una fila */
  justify-content: space-around; /* Espacia los elementos uniformemente */
  padding: 20px;
  background-color: rgb(255, 255, 255);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
